body{
	padding: 0px;
	margin: 0px;
	background-color: #fff;
	overflow: hidden;
}
canvas{
	padding: 0px;
	margin: 0px;
	background-color: #fff;
}

input[type=text]{
	position: absolute;
	margin-top: 35%;
	margin-left:40%;
	height: 10%;
	width: 20%;
	padding: 10px;
	outline: none;
	border: none;
	color: #fff;
	border-radius: 6px;
	background-color: rgba(0,0,0,0.4);
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 30px;
	display:none;
}

#said{
	position: absolute;
	margin-top: 43%;
	margin-left: 48%;
	text-align: center;
	height: 4%;
	line-height: 15px;
	padding: 5px;
	outline: none;
	border: none;
	color: #fff;
	border-radius: 6px;
	background-color: #222;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 15px;
	display: none;
}